.Rproj.user
.Rhistory
.RData
.Ruserdata
Pitch tutorial.Rmd
growth.pdf
politeness_data.csv
screening_expt2_20170502.Rproj
Block 2 Ps bioassays_data tables_20170502_20170515.xlsx
~$Block 2 Ps bioassays_data tables_20170502_20170515.xlsx
