.Rproj.user
.Rhistory
.RData
.Ruserdata
Pitch tutorial.Rmd
growth.pdf
politeness_data.csv
screening_expt2_20170502.Rproj
Block 2 Ps bioassays_data tables_20170502_20170515.xlsx
~$Block 2 Ps bioassays_data tables_20170502_20170515.xlsx
growth Control Ps1 Ps2 Unknown.pdf
growth Control vs Ps1_Ps2_Unknown_genotypes.pdf
growth Control vs Ps_all_genotypes.pdf
Block 2 Ps bioassays_data tables_20170502_20170516.xlsx
Appendix-Mixed-Models.pdf
